@model IEnumerable<MyPortfolioWebApp.Models.News>

@{
    ViewData["Title"] = "Index";
}

<section id="news" class="section">
    <div class="container section-title" data-aos="fade-up">
        <h2>News</h2>
        <p>Lorem ipsum dalat sit amet.</p>
    </div>

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <p>
            <a asp-controller="News" asp-action="Create" 
                class="btn btn-sm btn-success" 
                style="background-color:#67C7BB;">Create</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Writer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReadCount)
                    </th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Writer)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.ReadCount)
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    

</section>
