@model DbFirstWebApp.Models.Rentaltbl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rentaltbl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookIdxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookIdxNavigation.Idx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberIdxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberIdxNavigation.Idx)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idx">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
